*,html,body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.div{
  cursor: pointer;
  transition: .25s;
  background-color: antiquewhite;
  position: relative;
}

.image{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}